<manifest
    package="com.shoutit.app.android"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".view.main.MainActivity"
            android:theme="@style/AppTheme.WithDrawer">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".view.intro.IntroActivity"
            android:theme="@style/IntroActivityTheme"/>

        <activity
            android:name=".view.signin.LoginActivity"
            android:theme="@style/TranslucentStatusBar"/>

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>

        <activity android:name=".view.loginintro.LoginIntroActivity"/>

        <activity android:name=".view.webview.HtmlAssetViewerActivity"/>

        <activity
            android:name=".view.about.AboutActivity"
            android:theme="@style/PreferenceStyle"/>

        <activity android:name=".view.postlogininterest.PostLoginInterestActivity"/>
        
        <activity android:name=".view.postlogininterest.postsignupsecond.PostSignupSecondActivity"
            android:theme="@style/TranslucentStatusBar"/>

        <activity android:name=".view.location.LocationActivity"/>

        <activity android:name=".view.discover.DiscoverActivity"/>

        <activity android:name=".view.shouts.DiscoverShoutsActivity"/>

        <activity android:name=".view.settings.SettingsActivity"/>

        <activity android:name=".view.createshout.request.CreateRequestActivity"/>

        <activity android:name=".view.createshout.location.LocationActivity"/>

        <activity android:name=".view.createshout.edit.EditShoutActivity"/>

        <activity android:name=".view.createshout.publish.PublishShoutActivity"/>

        <activity android:name=".view.signin.forgotpassword.ForgotPasswordActivity"/>

        <activity android:name=".view.search.SearchActivity">
            <meta-data android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>

        <activity
            android:name=".view.settings.account.AccountActivity"
            android:windowSoftInputMode="adjustResize"/>

        <activity android:name=".view.shout.ShoutActivity"/>

        <activity android:name=".view.profile.UserOrPageProfileActivity"
            android:theme="@style/TranslucentStatusBar"/>

        <activity android:name=".view.profile.tagprofile.TagProfileActivity"
            android:theme="@style/TranslucentStatusBar"/>

        <activity
            android:name=".view.editprofile.EditProfileActivity"
            android:windowSoftInputMode="stateHidden"/>

        <!-- Facebook -->
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"/>

        <!-- Crashlytics -->
        <meta-data
            android:name="com.crashlytics.ApiKey"
            android:value="b058b2dcbf8b8f864860fe9fe12789317aba9da1"/>

        <!-- Fabric -->
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="b058b2dcbf8b8f864860fe9fe12789317aba9da1"/>

        <!-- Maps, Places -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_api_key"/>

        <service
            android:name="com.amazonaws.mobileconnectors.s3.transferutility.TransferService"
            android:enabled="true"/>

    </application>
</manifest>
