<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="com.shoutit.app.android"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-feature android:name="android.hardware.camera"/>
    <uses-feature android:name="android.hardware.camera.autofocus"/>
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true"/>

    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.FLASHLIGHT"/>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".view.media.RecordMediaActivity"
            android:screenOrientation="portrait"
            android:theme="@style/TransparentStatusBar"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"/>
        <activity
            android:name=".view.media.VideoCompressActivity"
            android:screenOrientation="portrait"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"/>
        <activity
            android:name=".view.main.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.WithDrawer">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".view.intro.IntroActivity"
            android:screenOrientation="portrait"
            android:theme="@style/IntroActivityTheme"/>
        <activity
            android:name=".view.signin.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/LoginActivityTheme"/>
        <activity
            android:name="com.facebook.FacebookActivity"
            android:screenOrientation="portrait"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity android:name=".view.loginintro.LoginIntroActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.webview.HtmlAssetViewerActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.about.AboutActivity"
            android:theme="@style/PreferenceStyle"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.postlogininterest.PostLoginInterestActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.postlogininterest.postsignupsecond.PostSignupSecondActivity"
            android:screenOrientation="portrait"
            android:theme="@style/TranslucentStatusBar"
            />
        <activity android:name=".view.location.LocationActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.discover.DiscoverActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.chats.ChatActivity"
            android:screenOrientation="portrait"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"/>
        <activity
            android:name=".view.chats.chatsfirstconversation.ChatFirstConversationActivity"
            android:screenOrientation="portrait"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"/>
        <activity android:name=".view.shouts.selectshout.SelectShoutActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.shouts.discover.DiscoverShoutsActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.settings.SettingsActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.createshout.request.CreateRequestActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.createshout.location.LocationActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.createshout.edit.EditShoutActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.createshout.publish.PublishShoutActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.signin.forgotpassword.ForgotPasswordActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.search.main.MainSearchActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable"/>
        </activity>
        <activity
            android:name=".view.search.subsearch.SubSearchActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable"/>
        </activity>
        <activity android:name=".view.search.results.shouts.SearchShoutsResultsActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.search.results.profiles.SearchProfilesResultsActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.settings.account.AccountActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".view.shout.ShoutActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.profile.UserOrPageProfileActivity"
            android:screenOrientation="portrait"
            android:theme="@style/TranslucentStatusBar"/>
        <activity
            android:name=".view.profile.tagprofile.TagProfileActivity"
            android:screenOrientation="portrait"
            android:theme="@style/TranslucentStatusBar"/>
        <activity
            android:name=".view.editprofile.EditProfileActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>
        <activity android:name=".view.notifications.NotificationsActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.videoconversation.VideoConversationActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.gallery.GalleryActivity"/>
        <activity android:name=".view.verifyemail.VerifyEmailActivity"
            android:windowSoftInputMode="adjustResize"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.conversations.ConversationsActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.createshout.CreateShoutDialogActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.DialogActivity"/>

        <activity
            android:name=".view.videoconversation.DialogCallActivity"
            android:screenOrientation="portrait"
            android:theme="@style/TranslucentBackground"/>

        <!-- Facebook -->
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"/>

        <!-- Crashlytics -->
        <meta-data
            android:name="com.crashlytics.ApiKey"
            android:value="b058b2dcbf8b8f864860fe9fe12789317aba9da1"/>

        <!-- Fabric -->
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="b058b2dcbf8b8f864860fe9fe12789317aba9da1"/>

        <!-- Maps, Places -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_api_key"/>

        <meta-data android:name="com.mixpanel.android.MPConfig.ResourcePackageName"
            android:value="com.shoutit.app.android" />

        <service
            android:name="com.amazonaws.mobileconnectors.s3.transferutility.TransferService"
            android:enabled="true"/>

    </application>


</manifest>
